/*RESET*/

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/*STYLES*/

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: white;
}

header {
  background-color: #bde0fe;
  padding: 1.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainTitle {
  margin: 0;

  font-size: 4em;
  font-weight: bold;

  font-family: 'Bangers', system-ui;
}

.navBar {
  background-color: #8bc4f7;
  padding: 1.5em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navBar ul {
  display: flex;
  justify-content: center;
  gap: 2em;

  list-style: none;

  margin: 0;
  padding: 0;
}

.navBar ul li {
  padding: 0.5em 1.5em;
}

.navBar ul li:hover {
  background-color: #b8d9f7;
  transition: 1s ease;
  cursor: pointer;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

.profileImage {
  width: 5em;
  height: 5em;

  background-color: white;

  border-radius: 50%;
  object-fit: cover;
}

.offers {
  width: 50%;
  margin: 0 auto;
}

.cardOffer {
  border: 1px solid black;
  background-color: #bde0fe;
  margin-bottom: 1.5em;
  padding: 0.4em;

  border-radius: 1em;
}

.cardOffer h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;

  font-size: 2em;

  background-color: #8bc4f7;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

  border-bottom: 1px solid black;
}

.cardOffer .description {
  width: 75%;
  margin: 0.5em auto;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
}

.options {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  border-top: 1px solid black;
}

.options p {
  background-color: white;
  border-radius: 1em;
  text-align: center;
  padding: 1.5em;
}

.optionsBar {
  width: 100%;
  text-align: center;
}

.searchInput {
  background-color: white;
  border: none;
  border-bottom: 1px solid black;

  width: 50%;
  margin: 1em auto;
}

.searchInput:focus {
  outline: none;
}

.addButton {
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5em;
  margin: 1em auto;
  font-size: 1.1em;
}

.usernameSpan {
  background-color: #8bc4f7;
}

.organizationName {
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.applyButton {
  width: 100%;
  background-color: #51aeff;
  border: none;
  border-radius: 0.5em;
  padding: 1em 2em;
  font-weight: bold;
}

.applyButton:hover {
  cursor: pointer;
}

.alert {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: lightgreen;
}
