<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NGOpportunity Hub | {{ title }}{% endblock %}</title>
        {% block favicon %}
            <link rel="icon" type="image/svg+xml" href="{{ asset('./images/icon.svg') }}" />
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header>
            <h1 class="mainTitle"><a href="/"><span>NGO</span>portunity Hub</a></h1>
            
            <div class="userData">
                <img src="./images/profileImage.jpeg" alt="profile image" class="profileImage"/>
                <span class="usernameSpan">Julio Aller Acuña</span>
            </div>
        </header>
        <nav class="navBar">
            <ul>
                <a href="/my-offers"><li>My Offers</li></a>
                <a href="/my-profile"><li>My Profile</li></a>
                <a href="/organizations-panel"><li>Organizations</li></a>
            </ul>
        </nav>

        <nav class="lateralBar">

        </nav>


        {% block body %}{% endblock %}
    </body>
</html>
