<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NGOpportunity Hub | {{ title }}{% endblock %}</title>
        {% block favicon %}
            <link rel="icon" type="image/svg+xml" href="{{ asset('./icons/hands.svg') }}" />
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header>
            <h1 class="mainTitle"><a href="/">NGOPPORTUNITY HUB</a></h1>
            
            <div>
                <img src="" alt="profileImage" class="profileImage"/>
                <span class="usernameSpan">Username</span>
            </div>
        </header>
        <nav class="navBar">
            <ul>
                <li><a href="#">My Offers</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="/organizations-panel">Organizations</a></li>
            </ul>
        </nav>

        <nav class="lateralBar">

        </nav>


        {% block body %}{% endblock %}
    </body>
</html>
